.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0s ease 0.6s;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s ease, visibility 0s ease 0s;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
}

.modal__input {
  display: block;
  width: 100%;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__submit-button {
  max-width: 156px;
  margin: 0;
  padding: 18px 32px;
  width: 100%;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  border: none;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__content {
    padding: 22px 12px 12px;
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 0 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-button {
    max-width: none;
    width: 100%;
  }
}
