.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  padding: 0;
  gap: 8px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  opacity: 70%;
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__post-button {
  margin-left: auto;
  margin-top: auto;
  padding: 18px 32px;
  height: 52px;
  background: #212121;
  color: rgba(252, 245, 229, 1);
  font-weight: 500;
  line-height: 1;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.profile__post-button:hover {
  background: rgba(33, 33, 33, 0.8);
}

.profile__post-button-image {
  margin: 2px 8px 2px 0;
}

@media screen and (max-width: 627px) {
  .profile {
    max-width: 288px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
  }

  .profile__edit-button {
    justify-content: center;
    font-size: 16px;
  }

  .profile__post-button {
    margin: 0;
    width: 100%;
    font-size: 16px;
  }
}
